
<launch>
     <!-- saving trajectory path and timing information -->
        <arg name="dosave"      default="true" />
        <arg name="dotime"      default="true" />
        <arg name="path_est"    default="/tmp/traj_estimate.txt" />
        <arg name="path_time"   default="/tmp/traj_timing.txt" />

     <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ov_msckf)/launch/display.rviz" />
    <!-- MASTER NODE! -->
    <node name="run_serial_msckf_office_stereo" pkg="ov_msckf" type="run_serial_msckf_office_stereo" output="screen" clear_params="true" required="true">
<!--        <node name="run_serial_msckf" pkg="ov_msckf" type="run_serial_msckf" output="screen" clear_params="true" required="true" launch-prefix="gdb -ex run &#45;&#45;args">-->

        <!-- bag topics -->
<!--         <param name="topic_imu_acc"      type="string" value="/t265/accel/sample" /> -->
<!--         <param name="topic_imu_gyro"      type="string" value="/t265/gyro/sample" /> -->
        <param name="topic_imu"      type="string" value="/t265/imu0" />
<!--         <param name="topic_camera0"  type="string" value="/d400/color/image_raw " /> -->
        <param name="topic_camera0"  type="string" value="/t265/fisheye1/image_raw " />
        <param name="topic_camera1"  type="string" value="/t265/fisheye2/image_raw" />

        <!-- bag parameters -->
       <param name="path_bag"    type="string" value="/home/zzq/DataSet/OpenLORIS/home1-1_5-rosbag/home1-2-unite-all-imu.bag" />
<!--         <param name="path_bag"    type="string" value="/home/zzq/DataSet/OpenLORIS/office1-1_7-rosbag/office1-7-unite-all-imu.bag" /> -->
<!--        <param name="path_gt"     type="string" value="$(find ov_data)/euroc_mav/V1_01_easy.csv" />-->
<!--        <param name="path_bag"    type="string" value="/home/patrick/datasets/eth/V2_03_difficult.bag" />-->
<!--        <param name="path_gt"     type="string" value="$(find ov_data)/euroc_mav/V2_03_difficult.csv" />-->
        <param name="bag_start"   type="double" value="0" />
        <param name="bag_durr"    type="int"    value="-1" />


        <param name="use_prior_map" type="bool" value="false" />
        <param name="map_save_path" type="string" value="/home/zzq/Code/map_open_vins_ros/src/open_vins/pose_graph_V101/" />
        <param name="pose_graph_filename" type="string" value="pose_graph.txt" />
        <param name="brief_pattern_filename" type="string" value="brief_pattern.yml" />
        <param name="voc_filename" type="string" value="brief_k10L6.bin" />

        <param name="kf_match_interval" type="double" value="1" />
        <param name="use_robust_match" type="bool" value="true" />


        <!-- world/filter parameters -->
        <param name="use_stereo"             type="bool"   value="true" />
        <param name="max_cameras"            type="int"    value="2" />

        <param name="use_fej"                type="bool"   value="true" />
        <param name="use_imuavg"             type="bool"   value="true" />
        <param name="use_rk4int"             type="bool"   value="true" />
        <param name="calib_cam_extrinsics"   type="bool"   value="false" />
        <param name="calib_cam_intrinsics"   type="bool"   value="true" />
        <param name="calib_cam_timeoffset"   type="bool"   value="true" />
        <param name="calib_camimu_dt"        type="double" value="0.0" />,
        <param name="max_clones"             type="int"    value="11" />
        <param name="max_slam"               type="int"    value="50" />
        <param name="max_slam_in_update"     type="int"    value="25" /> <!-- 25 seems to work well -->
        <param name="max_msckf_in_update"    type="int"    value="999" />

        <param name="dt_slam_delay"          type="double" value="5" />
        <param name="init_window_time"       type="double" value="1" />
        <param name="init_imu_thresh"        type="double" value="3" />
<!--          <param name="init_imu_thresh"        type="double" value="1.5" /> -->
        <rosparam param="gravity">[0.0,0.0,9.81]</rosparam>
        <param name="feat_rep_msckf"         type="string" value="GLOBAL_3D" />
        <param name="feat_rep_slam"          type="string" value="ANCHORED_FULL_INVERSE_DEPTH" />
        <param name="feat_rep_aruco"         type="string" value="ANCHORED_FULL_INVERSE_DEPTH" />

        <!-- zero velocity update parameters -->
        <param name="try_zupt"               type="bool"   value="false" />
        <param name="zupt_chi2_multipler"    type="int"    value="2" />
        <param name="zupt_max_velocity"      type="double" value="0.3" />
        <param name="zupt_noise_multiplier"  type="double" value="50" />

        <!-- timing statistics recording -->
        <param name="record_timing_information"   type="bool"   value="true" />
        <param name="record_timing_filepath"      type="string" value="/tmp/timing_stereo.txt" />

        <!-- tracker/extractor properties -->
        <param name="use_klt"            type="bool"   value="true" />
        <param name="num_pts"            type="int"    value="150" />
        <param name="fast_threshold"     type="int"    value="15" />
        <param name="grid_x"             type="int"    value="5" />
        <param name="grid_y"             type="int"    value="3" />
        <param name="min_px_dist"        type="int"    value="10" />
        <param name="knn_ratio"          type="double" value="0.70" />
        <param name="downsample_cameras" type="bool"   value="false" />

        <!-- aruco tag/mapping properties -->
        <param name="use_aruco"        type="bool"   value="false" />
        <param name="num_aruco"        type="int"    value="1024" />
        <param name="downsize_aruco"   type="bool"   value="true" />

        <!-- sensor noise values / update -->
        <param name="up_msckf_sigma_px"            type="double"   value="1" />
        <param name="up_msckf_chi2_multipler"      type="double"   value="1" />
        <param name="up_slam_sigma_px"             type="double"   value="1" />
        <param name="up_slam_chi2_multipler"       type="double"   value="1" />
        <param name="up_aruco_sigma_px"            type="double"   value="1" />
        <param name="up_aruco_chi2_multipler"      type="double"   value="1" />
        <param name="gyroscope_noise_density"      type="double"   value="4.058768e-04 " />
        <param name="gyroscope_random_walk"        type="double"   value="1.26491e-04" />
        <param name="accelerometer_noise_density"  type="double"   value="1.46e-03 " />
        <param name="accelerometer_random_walk"    type="double"   value="1.788845e-03" />
<!--         <param name="gyroscope_noise_density"      type="double"   value="0" /> -->
<!--         <param name="gyroscope_random_walk"        type="double"   value="0" /> -->
<!--         <param name="accelerometer_noise_density"  type="double"   value="0" /> -->
<!--         <param name="accelerometer_random_walk"    type="double"   value="0" /> -->

        <!-- camera intrinsics -->
        <rosparam param="cam0_wh">[848, 800]</rosparam>
        <rosparam param="cam1_wh">[848, 800]</rosparam>
        <param name="cam0_is_fisheye" type="bool" value="true" />
        <param name="cam1_is_fisheye" type="bool" value="true" />

<!--         <rosparam param="cam0_k">[611.451,611.486,433.204,249.473]</rosparam> -->
<!--         <rosparam param="cam0_d">[0,0,0,0]</rosparam> -->

        <rosparam param="cam0_k">[2.8498089599609375e+02,2.8610238647460938e+02,4.2524438476562500e+02,3.9846759033203125e+02]</rosparam>
        <rosparam param="cam0_d">[-7.3047108016908169e-03, 4.3499931693077087e-02,
                                  -4.1283041238784790e-02, 7.6524601317942142e-03]</rosparam>
        <rosparam param="cam1_k">[2.8498089599609375e+02,2.8610238647460938e+02,4.2524438476562500e+02,3.9846759033203125e+02]</rosparam>
        <rosparam param="cam1_d">[-7.3047108016908169e-03, 4.3499931693077087e-02,
                                  -4.1283041238784790e-02, 7.6524601317942142e-03]</rosparam>

<!--         <rosparam param="cam1_k">[2.8481259155273438e+02,2.8597601318359375e+02,4.2766159057617188e+02,3.9712341308593750e+02]</rosparam> -->
<!--         <rosparam param="cam1_d">[-6.3794981688261032e-03, 4.1455611586570740e-02, -->
<!--                                   -3.9464488625526428e-02, 6.9808149710297585e-03]</rosparam> -->


        <!-- camera extrinsics -->
          <rosparam param="T_C0toI">      <!--fisheye1 to I-->
                    [
                       -0.999926331417,   -0.0049039224757,    0.0111033005789 ,    0.010699210334
                        0.00493412757807 ,   -0.999984196595 ,  0.00269461415071, -5.27951507611e-05
                           0.01108991093 ,   0.0027492007439 ,    0.999934725755, -0.000118662002204
                                       0 ,                 0   ,               0 ,                 1
                    ]
          </rosparam>
<!--            <rosparam param="T_C0toI">    --><!-- mono to I -->
<!--                               [ -->
<!--                                  -0.999942386331, -0.00491204730378 , 0.00954441248486 ,   0.206216306708, -->
<!--                                   0.00489382220764 ,  -0.999986158995, -0.00193192190218,    0.872575373893, -->
<!--                                   0.00955377007237 ,-0.00188510193929 ,    0.99995258481 ,   -0.66348524078, -->
<!--                                                  0 ,                0,                 0 ,                1 -->
<!--                               ] -->
<!--                     </rosparam> -->


<!--           <rosparam param="T_C1toI">      fisheye1 to I-->
<!--                     [ -->
<!--                        -0.999926331417,   -0.0049039224757,    0.0111033005789 ,    0.010699210334 -->
<!--                         0.00493412757807 ,   -0.999984196595 ,  0.00269461415071, -5.27951507611e-05 -->
<!--                            0.01108991093 ,   0.0027492007439 ,    0.999934725755, -0.000118662002204 -->
<!--                                        0 ,                 0   ,               0 ,                 1 -->
<!--                     ] -->
<!--           </rosparam> -->

        <rosparam param="T_C1toI">      <!-- fisheye2 to I-->
            [
             -0.999989752123, -0.00177620553509,  0.00416422165748,  -0.0532777393709,
             0.00180320093961,    -0.99997732733,   0.0064879343814, 0.000113534606943,
             0.00415260333849,  0.00649537682226,    0.999970282541, 0.000192797064512,
                            0 ,                0 ,                0 ,                1
            ]
        </rosparam>


    </node>

  <!-- record the trajectory if enabled -->
  <group if="$(arg dosave)">
          <node name="recorder_estimate" pkg="ov_eval" type="pose_to_file" output="screen" required="true">
              <param name="topic"      type="str" value="/ov_msckf/poseimu" />
              <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
              <param name="output"     type="str" value="$(arg path_est)" />
          </node>
      </group>

</launch>